<!--

    CODENVY CONFIDENTIAL
    __________________

     [2015] - [2016] Codenvy, S.A.
     All Rights Reserved.

    NOTICE:  All information contained herein is, and remains
    the property of Codenvy S.A. and its suppliers,
    if any.  The intellectual and technical concepts contained
    herein are proprietary to Codenvy S.A.
    and its suppliers and may be covered by U.S. and Foreign Patents,
    patents in process, and are protected by trade secret or copyright law.
    Dissemination of this information or reproduction of this material
    is strictly forbidden unless prior written permission is obtained
    from Codenvy S.A..

-->
<md-content class="workspace-users-content">
  <div layout="row" flex>
    <form flex layout="column" name="workspaceUsersForm">
      <md-chips flex
        name="emails"
        ng-model="shareWorkspaceController.emails"
        md-separator-keys="shareWorkspaceController.separators"
        secondary-placeholder="Enter user emails">
      </md-chips>
    </form>
    <div ng-if="workspaceUsersForm.$dirty">
      <div ng-message="md-max-chips">You reached the maximum amount of chips</div>
    </div>
    <div flex="none" flex-offset="5" layout="column" layout-align="end end">
      <che-button-primary
        ng-disabled="shareWorkspaceController.emails.length === 0"
        che-button-title="Share" name="shareButton"
        ng-click="shareWorkspaceController.shareWorkspace()"></che-button-primary>
    </div>
  </div>

  <div flex layout="row" layout-align="end center">
    <che-list flex ng-if="shareWorkspaceController.users && shareWorkspaceController.users.length > 0">
      <!--<che-user-item ng-repeat="user in shareWorkspaceController.users" flex-gt-sm="100" flex="33"
                        che-user-item-workspace-id="workspaceDetailsProjectsCtrl.workspaceId"
                        che-project-item-workspace-name="workspaceDetailsProjectsCtrl.workspace.config.name"
                        che-project-item-project="project"
                        che-profile-creation-date="workspaceDetailsProjectsCtrl.profileCreationDate"></che-user-item>-->
    </che-list>
  </div>
</md-content>
